@import 'base/variables';
* {
	font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
	max-width: 940px;
	margin: 0 auto;
	align-items: center;
}
@import 'blocks/titles/titles';
@import 'blocks/Titles/mediaTitles';

@import 'blocks/Buttons/buttons';
@import 'blocks/Buttons/mediaButton';

@import 'blocks/header/header';
@import 'blocks/header/mediaHeader';

@import 'blocks/Promo/promo';
@import 'blocks/Promo/mediaPromo';

@import 'blocks/Benefits/benefits';
@import 'blocks/Benefits/mediaBenefits';


@import 'blocks/Consultation/consultation';
@import 'blocks/Consultation/forms';
@import 'blocks/Consultation/mediaForms';

@import 'blocks/Carousel/carousel';
@import 'blocks/Carousel/mediaCarousel';

@import 'blocks/Catalog/Catalog';
@import 'blocks/Catalog/mediaCatalog';

@import 'blocks/FeedBack/feedBack';
@import 'blocks/FeedBack/mediaFeedBack';

@import 'blocks/Footer/footer';

@import 'blocks/Modal/modal.scss';