@import 'base/variables';
* {
	font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
	max-width: 940px;
	margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/benefits';

@import 'media/mediaHeader';
@import 'media/mediaButton';
@import 'media/mediaPromo';
@import 'media/mediaBenefits';
